<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamY.simple.simplyChat.mapper.MemberMapper">

    <select id="selectMemberByNickname" resultType="MemberVO">
        SELECT id, IFNULL(file_id, 0), nickname, member.password
        FROM member
        WHERE nickname = #{nickname}
    </select>

    <insert id="insertMember">
        INSERT INTO member(nickname, password)
        VALUES(#{nickname}, #{password})
    </insert>
</mapper>