.left-side-box {
    width : 20%;
}

.logo {
    height : 5%;
}
.chat-list {
    height : 90%;
}

.left-side-footer {
    display: flex;
    height : 5%;
}
.user-info {
    display: flex;
    width : 70%;
}

.userImage {
    position: relative;
    border-radius: 50%;
    width:45px;
    height:100%;

}

#userNickname {

}

#logout {
    width : 30%;
}