<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>main</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body class = "main">

<th:block layout:fragment="frameLeft"
          th:include="@{left-box.html}"></th:block>

<th:block layout:fragment="frameLeft"
          th:include="@{center-box.html}"></th:block>

<th:block layout:fragment="frameRight"
          th:include="@{right-box.html}"></th:block>
</body>
</html>